project_docs
Literature
tempCodeRunnerFile.*

# --- macOS ---
.DS_Store

# --- Python ---
__pycache__/
*.py[cod]

# --- Virtual environments ---
.venv/
.env/

# --- VS Code ---
.vscode/
tempCodeRunnerFile.*
